<div id="<%= dom_id booking %>">
  <p>
  <strong>Booking #<%= booking.id %>:</strong>
    <%= User.find(booking.user_id).name.capitalize + " booked the parking spot at " %>
    <%= booking.created_at %>
    <% if booking.released_at %>
      <%= "and released it at: #{booking.released_at}" %>
    <% end %>
  </p>
</div>
