<div id="<%= dom_id booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Parking spot:</strong>
    <%= booking.parking_spot_id %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= booking.expires_at %>
  </p>

  <p>
    <strong>Released at:</strong>
    <%= booking.released_at %>
  </p>

</div>
