<h2>
  At this moment, the parking spot is: 
  <% if @spot.available? %>
    <%= " Available" %></h2>
    <div><%= button_to "Book Parking Spot", bookings_book_url %></div>
  <% elsif @spot_owner == @user %>
    <%= " Booked (by you)" %></h2>
  <div><%= button_to "Release Parking Spot", bookings_release_url %></div>
  <% else %>
    <%= " Booked (by #{@spot_owner.name})" %></h2>
  <% end %>

<strong>Booking History</strong>

<div id="bookings">
  <% @bookings.each do |booking| %>
    <%= render booking %>
  <% end %>
</div>

<div>
  <%= button_to "Sign Out", destroy_user_session_url, method: :delete %>
</div>
